@charset "UTF-8";

/* layout_02-result.css */
/* reset.css:웹페이지 디자인 작업을 위해, 매번 처리해야하는 번거로운 작업을 미리 설정하여 초기화 시키는 처리 */

html,body {margin:0;}
h1,h2,h3,h4,h5,h6,p,div { margin:0; padding:0;}
ul,ol,li,dl,dt,dd {margin:0; padding:0; list-style:none;}

/* variable */
:root {
  --step2-color:#fac;
}

/* common.css */

.clearfix:after,
.clearfix::after {content:""; display:block; clear:both;}

/* design */

#wrap{
  width: 1600px; height: auto; min-height:500px; margin:auto;
}

#wrap > div {width: 100%; }

/* #headBox======== */
#headBox { 
  height: 150px; padding:34px 50px 0; box-sizing:border-box; background-color: #ddd;}

.main_heading {
  float:left; width:250px ; height: 80px; margin-right:75px;
  background-color:var(--step2-color);} 


  .navigation {
  float:left; width: 850px; height: auto; 
  background-color:var(--step2-color);} 
.navigation > ul { width: 100%; height: auto;}

/* .navigation > ul:after, 
.navigation > ul::after {content:""; display:block; clear:both;}
clear:fix를 미리 설정하고 사용하여 쉽게 클리어보스 처리 가능 */

.navigation li {float:left; width: 150px; height: 70px;
margin:5px 10px; background-color: #dad;}
/* 네비게이션 플로트 li도 플로트/ ul의 높이값을 만들 수 있게 에프터 처리?
ul에 클리어보스 처리를 하지 않으면 ul아래 글씨를 적었을때 글자만남고 박스는 사라질 수 있다.
왜냐면 ul의 높이가 없으니깐 ul의 높이를 주는건 밑에 나오는 글씨를 주고 할 수 있으니깐
눈에 보이기엔 차이가 없지만 이후 오는 아이들의 기능을 써주기위해 처리  필요 */



.member {
  float:right; width:250px ; height: 80px;
   background-color: var(--step2-color);} 


/* #adViewBox========= */
#adViewBox {
  height:auto; min-height: 750px; padding:28px 0; box-sizing:border-box; background-color: #bbb;
}

.view_outer { 
  width: 1300px; height: 600px;  margin:auto;
   background-color:var(--step2-color);}



   .view_indicator { width: 840px; height: auto; margin:auto; margin-top: 28px; 
  background-color:var(--step2-color);}
.view_indicator ol {width: 100%; height: auto;}


/* .view_indicator ol:after, 
.view_indicator ol::after {content:" "; display:block; clear:both;}*/

/* float을 정리하기 위해서는 clear:both를 사용해야한다.
li의 마지막에는 다른 요소가 들어갈 수 없으므로, 가상의 존재를 생성 가상의 존재는 ::after의 형태를 취하고, 이는 반드시 content를 가지고 있어야 한다. */

.view_indicator li {
  float:left; width: 120px; height: 40px; margin:10px; background-color: #fc7;
}

/* #localNavBox======== */
#localNavBox {
  height: auto; margin-bottom:50px; padding: 20px 0 30px; box-sizing:border-box;
  background-color: #999;
}

.local_nav_outer {
  width: 1500px; height: auto; margin:auto; padding: 0 60px; box-sizing:border-box; background-color: var(--step2-color);
}

.local_nav_outer ul { 
  width: 100%; height: auto;
}
.local_nav_outer li {
  float:left; width: 200px; height: 150px; margin: 25px 15px; background-color: #fc7;
}



/* content_area */

.content_area {height: auto;}
.content_area > div {width: 100%; padding-bottom:30px; box-sizing:border-box;}
.content_area h3 {width: 1300px; height: 50px; margin:auto; margin-bottom:30px;
background-color:var(--step2-color);}
.con_area {
  width: 1300px; height: auto; min-height:400px; margin:auto; background-color:var(--step2-color);
}



/* #populaContentBox======== */
#popularContentBox { height: auto; background-color: #bbb;}
/* #popularContentBox .con_area {min-height:470px;} */

.pop_con_area {min-height:470px;
padding:20px 63px; box-sizing:border-box;}
/* 패딩값 계산 */

.pop_card {
  float:left; width: 350px; height: 430px; 
  margin-left:62px; padding:8px 10px; box-sizing:border-box; background-color: #fc7;
}



.pop_con_area > div:nth-of-type(1) {margin-left:0;}

.img_context {width: 100%; height: 200px; margin-bottom:14px; background-color: #f7f;}
.narr_context{width: 100%; height: 200px; background-color: #f7f;}



/*#newContentsBox  */
#newContentBox {
  height: auto; margin-bottom:80px; 
  padding-top:60px; background-color:#bbb;
}
.new_con_area {min-height:700px;}

.new_con_title_area{float:left; width: 640px; height: 700px; background-color: #c7c;}
.new_con_title_img { width: 100%; height: 350px; margin-bottom:30px; background-color: #fc7;}
.new_con_title_text { width: 600px; height: 290px; margin:auto; background-color: #fc7;}

.new_con_more_area{float:right; width: 630px;height: 400px; background-color: #c7c;}
.new_con_more_area > div {width: 100%; height: 180px; background-color: #fc7;} 
.new_con_more_01 {margin-bottom:40px;}

/* #recommandedContentBox */
#recommandedContentBox {
  height: 600px; margin-bottom:80px; padding-top:30px; background-color: #bbb;
}
/* .recom_con_area {min-height:440px;} */

.re_con_part_area {float:left; width: 300px; height: 400px;
  margin-left:33px; background-color: #fcf;}
.re_con_part_area:nth-child(1){margin-left:0;}  
.re_con_part_area:nth-child(3){margin-left:34px;}  

.re_con_part_area > div {float:left; width: 300px; height: 210px; background-color: #fff;}
.re_con_part_area > .re_con_part_text {width: 270px; height: 160px; margin:15px;
  padding:15px; box-sizing:border-box; background-color: #fff;}




/* #communityBox */
#communityBox { height: auto; margin-bottom:80px; padding-top:60px; background-color: #ddd;}
.community_con_area{ min-height:600px;}
.community_con_area >ul {width: 100%; height: auto;} 
.community_con_area  li {width: 100%; height: 160px;
  margin-bottom:70px; background-color: #fc7;} 

  .community_con_area  li:last-child{margin-bottom:0;} 

.community_con_area div { float:left; width: 300px; height: 160px; background-color: #fcf;}
.community_con_area dl {float:right; width: 1000px; height: 160px; background-color: #fac;}
.community_con_area dt {float:left; width: 800px; height: 40px; 
                         margin:18px 18px 18px 30px; background-color: #fff;}
.community_con_area dd {float:right; width: 970px; height: 50px;
                        margin:17px 0;background-color: #fff;}




/* #miniAdBox========= */
#miniAdBox { height: auto; margin-bottom:80px; padding:40px 0; background-color: #bbb;}
.mini_ad_outer{ width: 1500px; height: 300px; margin:auto; background-color: var(--step2-color);}

.mini_ad_outer > div {float:left; width: 350px; height: 300px;
  margin-right:25px; background-color: #fff; }
.mini_ad_outer > div:first-child{width: 750px;}
.mini_ad_outer > div:last-child{margin-right:0;}

/* #footBox============= */
#footBox {margin-bottom:500px; height: auto; padding:25px 0 30px; background-color: #aaa;}
.foot_outer{ width: 1300px; height: 140px; margin:auto; background-color: var(--step2-color); }

.foot_outer > div {float:left; width: 650px; height: 140px; background-color: #fff;}
.foot_outer > div:last-child {float:right; width: 325px; height: 70px;
  margin:35px 0; background-color: #bbb;}
